In [1]:
import json
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer
import spacy
import dataset
import analyze

In [2]:
likes_path = "Dataset/easytour-likes-2022-03MAR-21.json"
schede_path = "Dataset/easytour-schede-2022-03MAR-21.json"
data_path = "Dataset/data.csv"

In [3]:
f_schede = open(schede_path)
data_schede = json.load(f_schede)
print("Fields: {}".format(data_schede[0].keys())) 
print("Number of samples: {}".format(len(data_schede)))

Fields: dict_keys(['id', 'userId', 'userName', 'documentType', 'title', 'description', 'locations', 'feature', 'duration', 'imageId', 'previewId', 'distance', 'datePublishing', 'widgets', 'counterUseful', 'tags', 'numberOfPositions', 'creationDate', 'videoId', 'version', 'categories', 'media', 'shareType', 'status', 'lastUpdate', 'versionHistory', 'viewCounter', 'device'])
Number of samples: 4356

In [4]:
#print("First sample: {}".format(data_schede[8]))

In [5]:
f_likes = open(likes_path)
data_likes = json.load(f_likes)
print("Number of samples: {}".format(len(data_likes)))
print("Fields: {}".format(data_likes[0].keys()))
print("First sample: {}".format(data_likes[0]))

Number of samples: 1503
Fields: dict_keys(['id', 'userId', 'userName', 'lastUpdate'])
First sample: {'id': '622c3b8ac992ca28f33c7f21', 'userId': 606, 'userName': 'Dale On Travel', 'lastUpdate': '2022-03-19T07:56:20.868Z'}

In [6]:
df_schede = pd.read_json(schede_path)
df_likes = pd.read_json(likes_path)

<h3>Data Analysis</h3>

In [7]:
df_schede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4356 entries, 0 to 4355
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4356 non-null   object
 1   userId             4356 non-null   int64
 2   userName           4356 non-null   object
 3   documentType       4356 non-null   object
 4   title              4356 non-null   object
 5   description        4355 non-null   object
 6   locations          4356 non-null   object
 7   feature            4356 non-null   object
 8   duration           4355 non-null   float64
 9   imageId            4356 non-null   object
 10  previewId          1763 non-null   object
 11  distance           4356 non-null   float64
 12  datePublishing     4345 non-null   object
 13  widgets            3765 non-null   object
 14  counterUseful      4356 non-null   int64
 15  tags               4356 non-null   object
 16  numberOfPositions  4356 non-null   int64
 17  creationDate       4356 non-null   object
 18  videoId            392 non-null    object
 19  version            4355 non-null   float64
 20  categories         4218 non-null   object
 21  media              4355 non-null   object
 22  shareType          4355 non-null   object
 23  status             4355 non-null   object
 24  lastUpdate         4198 non-null   object
 25  versionHistory     4254 non-null   object
 26  viewCounter        4355 non-null   float64
 27  device             2306 non-null   object
 28  timestamp          1 non-null      datetime64[ns, UTC]
 29  errorCodes         1 non-null      object
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(22)
memory usage: 1021.1+ KB

In [8]:
df_schede.describe()

,userId,duration,distance,counterUseful,numberOfPositions,version,viewCounter
count,4356.000000,4.355000e+03,4356.000000,4356.000000,4356.000000,4355.0000,4355.000000
mean,394.564968,1.646045e+07,1.862263,0.366162,1.184803,5.5031,40.477153
std,147.424098,5.898965e+07,122.909338,0.734108,0.789168,7.8346,30.050625
min,77.000000,0.000000e+00,0.000000,0.000000,1.000000,2.0000,0.000000
25%,236.000000,3.600000e+06,0.000000,0.000000,1.000000,2.0000,32.000000
50%,435.000000,3.600000e+06,0.000000,0.000000,1.000000,4.0000,43.000000
75%,529.000000,1.080000e+07,0.000000,1.000000,1.000000,6.0000,50.000000
max,642.000000,1.296000e+09,8112.016276,8.000000,12.000000,204.0000,694.000000

In [9]:
df_schede_fields = df_schede[["id","userId", "title", "description", "duration", "datePublishing", "creationDate", "counterUseful", "categories", "viewCounter"]]
df_likes_ids = df_likes[["id", "userId"]]

In [10]:
df_schede_fields

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,categories,viewCounter
0,62355f98272ae5672fbc3ac7,632,Spiagge selvagge a Phuket 🇹🇭,"Phuket, il paradiso per gli amanti del sole, d...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,[Viaggi],2.0
1,620abb33ff8ae67f37cafe3c,442,Freedom beach,Forse la spiaggia più bella di tutta l’isola d...,3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,[Viaggi],413.0
2,620aa536ff8ae67f37cafb06,442,Accarezzare le tigri,So che dietro queste cose c’è spesso del marci...,3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,[Viaggi],414.0
3,62349ff2272ae5672fbc3135,632,"Big Buddha, Phuket 🇹🇭",Phuket è conosciuta per essere la meta predile...,0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,[Viaggi],4.0
4,6234aa65272ae5672fbc34c2,632,"Wat Chalong, il tempio più venerato di Phuket 🇹🇭","Phuket non è solo spiagge, ci sono anche altri...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,[Viaggi],4.0
...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,Avventura in Ecuador - le cascate di Baños,Ripartiamo dopo la nostra esperienza in Amazzo...,259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,[Viaggi],42.0
4352,61f668fa306802033034d239,536,Avventura in Ecuador - el Volcán Chimborazo,E così ci lasciamo alle spalle anche la splend...,57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,[Viaggi],35.0
4353,620bbf26b1675d6cc11232f8,431,"Lomas de Paraíso VMT, polmone verde","La chiamano ""ciudad gris"" Lima. Per circa quat...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,[Viaggi],37.0
4354,61f3c6add91e9928f6e0922a,431,Il meglio di Lima,È quasi impossibile trovare un angolo del Perù...,172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,[Viaggi],51.0
4355,61fae86453a6a72116188980,158,"Ecuador, Galapagos",Altro viaggio che non dimenticheremo mai è sen...,345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,[Viaggi],75.0

<h3>Preprocessing</h3>

<h5>Null or empty values</h5>

In [11]:
#Check if there are null fields
df_schede_fields.isnull().sum()

id                  0
userId              0
title               0
description         1
duration            1
datePublishing     11
creationDate        0
counterUseful       0
categories        138
viewCounter         1
dtype: int64

In [12]:
#empty description -> remove or use '' ?
df_schede_fields["description"].fillna('', inplace=True)
#if duration is null -> set to 0
df_schede_fields["duration"].fillna(0, inplace=True)
#if datePublishing is null -> set it equal to creationDate
df_schede_fields["datePublishing"].fillna(df_schede_fields.creationDate, inplace=True)
#if viewCounter is null -> set to 0
df_schede_fields["viewCounter"].fillna(0, inplace=True)

/tmp/ipykernel_8658/1831612475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_schede_fields["description"].fillna('', inplace=True)
/tmp/ipykernel_8658/1831612475.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_schede_fields["duration"].fillna(0, inplace=True)
/tmp/ipykernel_8658/1831612475.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_schede_fields["datePublishing"].fillna(df_schede_fields.creationDate, inplace=True)
/tmp/ipykernel_8658/1831612475.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_schede_fields["viewCounter"].fillna(0, inplace=True)

<h5>Categories into one hot encoding</h5>

In [13]:
categories = df_schede_fields[df_schede_fields["categories"].isnull() == False]["categories"].apply(list)
categories_list = list({x for l in categories for x in l})
categories_list

['Cultura',
 'Aria aperta',
 'Aria Aperta',
 'Food',
 'Sport',
 'sport',
 'Tempo libero',
 'Viaggi']

In [14]:
def lower_list(l):
    if type(l)!=list:
        return []
    res = [x.lower() for x in l]
    return res

one_hot_enc_categories = df_schede_fields["categories"].apply(lambda x: lower_list(x))

In [15]:
df_schede_fields["categories"] = one_hot_enc_categories

/tmp/ipykernel_8658/2114275071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_schede_fields["categories"] = one_hot_enc_categories

In [16]:
mlb = MultiLabelBinarizer()

schede_with_categories = df_schede_fields.join(
            pd.DataFrame(
                mlb.fit_transform(df_schede_fields.pop('categories')),
                index=df_schede_fields.index,
                columns=mlb.classes_))

In [17]:
schede_with_categories

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,viewCounter,aria aperta,cultura,food,sport,tempo libero,viaggi
0,62355f98272ae5672fbc3ac7,632,Spiagge selvagge a Phuket 🇹🇭,"Phuket, il paradiso per gli amanti del sole, d...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,2.0,0,0,0,0,0,1
1,620abb33ff8ae67f37cafe3c,442,Freedom beach,Forse la spiaggia più bella di tutta l’isola d...,3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,413.0,0,0,0,0,0,1
2,620aa536ff8ae67f37cafb06,442,Accarezzare le tigri,So che dietro queste cose c’è spesso del marci...,3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,414.0,0,0,0,0,0,1
3,62349ff2272ae5672fbc3135,632,"Big Buddha, Phuket 🇹🇭",Phuket è conosciuta per essere la meta predile...,0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,4.0,0,0,0,0,0,1
4,6234aa65272ae5672fbc34c2,632,"Wat Chalong, il tempio più venerato di Phuket 🇹🇭","Phuket non è solo spiagge, ci sono anche altri...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,4.0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,Avventura in Ecuador - le cascate di Baños,Ripartiamo dopo la nostra esperienza in Amazzo...,259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,42.0,0,0,0,0,0,1
4352,61f668fa306802033034d239,536,Avventura in Ecuador - el Volcán Chimborazo,E così ci lasciamo alle spalle anche la splend...,57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,35.0,0,0,0,0,0,1
4353,620bbf26b1675d6cc11232f8,431,"Lomas de Paraíso VMT, polmone verde","La chiamano ""ciudad gris"" Lima. Per circa quat...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,37.0,0,0,0,0,0,1
4354,61f3c6add91e9928f6e0922a,431,Il meglio di Lima,È quasi impossibile trovare un angolo del Perù...,172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,51.0,0,0,0,0,0,1
4355,61fae86453a6a72116188980,158,"Ecuador, Galapagos",Altro viaggio che non dimenticheremo mai è sen...,345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,75.0,0,0,0,0,0,1

<h5>Text fields</h5>

In [18]:
schede_with_categories["title"] = schede_with_categories["title"].apply(lambda x: analyze.demojize(x))
schede_with_categories["description"] = schede_with_categories["description"].apply(lambda x: analyze.demojize(x))

In [19]:
nlp = spacy.load("it_core_news_lg")

def keep_just_nouns(field):
    doc = nlp(field.lower())
    return [token.lemma_ for token in doc if token.pos_=="NOUN"]

def remove_verbs_adj(field):
    doc = nlp(field.lower())
    return [token.lemma_ for token in doc if token.pos_ not in ["VERB", "ADJ", "ADV"]]

In [20]:
# Remove Verbs from description
schede_description = schede_with_categories.apply(
    lambda row: keep_just_nouns(row['description']),
    axis=1)

# Remove hastags, punctuation, stop words and numbers
schede_description = schede_description.apply(
    lambda row: dataset.clean_text_aslist(row))

In [21]:
# Remove Verbs from title
schede_title = schede_with_categories.apply(
    lambda row: keep_just_nouns(row['title']),
    axis=1)
    
# Remove hastags, punctuation, stop words and numbers
schede_title = schede_title.apply(
    lambda row: dataset.clean_text_aslist(row))

In [22]:
schede_description

0       [paradiso, amant, sole, mare, sole, cocktail, ...
1       [spiaggia, isola, spiaggia, mare, terra, fores...
2       [marcio, maltrattamento, animal, sconsiglio, p...
3       [meta, turista, assalto, spiaggia, acqua, mera...
4       [spiaggia, pena, tempio, big, tempio, tempio, ...
                              ...
4351    [esperienza, step, contatto, realtà, genitor, ...
4352    [spalla, esperienza, lascito, vista, catena, c...
4353    [mese, sole, capital, nuvola, nebbia, territor...
4354    [angolo, turista, calor, gent, bellezza, paesa...
4355    [viaggio, dubbio, isola, galapago, 50ina, isol...
Length: 4356, dtype: object

In [23]:
schede_with_categories["title"] = schede_title
schede_with_categories["description"] = schede_description

<h5>Dates</h5>

In [24]:
# Convert duration from ms to minutes
schede_with_categories['duration_min'] = schede_with_categories.apply(lambda row: row["duration"] / 60000, axis=1)

# Compute age of entry in days from today
schede_with_categories['days'] = 0
schede_with_categories.days = (pd.to_datetime("now").tz_localize('UTC') - pd.to_datetime(
    schede_with_categories["creationDate"])) // np.timedelta64(1, 'D')

/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

In [25]:
schede_with_categories

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,viewCounter,aria aperta,cultura,food,sport,tempo libero,viaggi,duration_min,days
0,62355f98272ae5672fbc3ac7,632,[spiaggia],"[paradiso, amant, sole, mare, sole, cocktail, ...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,2.0,0,0,0,0,0,1,0.0,9
1,620abb33ff8ae67f37cafe3c,442,[],"[spiaggia, isola, spiaggia, mare, terra, fores...",3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,413.0,0,0,0,0,0,1,60.0,41
2,620aa536ff8ae67f37cafb06,442,[tigr],"[marcio, maltrattamento, animal, sconsiglio, p...",3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,414.0,0,0,0,0,0,1,60.0,41
3,62349ff2272ae5672fbc3135,632,[big],"[meta, turista, assalto, spiaggia, acqua, mera...",0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,4.0,0,0,0,0,0,1,0.0,10
4,6234aa65272ae5672fbc34c2,632,"[wat, tempio]","[spiaggia, pena, tempio, big, tempio, tempio, ...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,4.0,0,0,0,0,0,1,0.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,"[avventura, cascata]","[esperienza, step, contatto, realtà, genitor, ...",259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,42.0,0,0,0,0,0,1,4320.0,57
4352,61f668fa306802033034d239,536,[avventura],"[spalla, esperienza, lascito, vista, catena, c...",57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,35.0,0,0,0,0,0,1,960.0,57
4353,620bbf26b1675d6cc11232f8,431,"[loma, polmon]","[mese, sole, capital, nuvola, nebbia, territor...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,37.0,0,0,0,0,0,1,150.0,41
4354,61f3c6add91e9928f6e0922a,431,[lima],"[angolo, turista, calor, gent, bellezza, paesa...",172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,51.0,0,0,0,0,0,1,2880.0,59
4355,61fae86453a6a72116188980,158,[],"[viaggio, dubbio, isola, galapago, 50ina, isol...",345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,75.0,0,0,0,0,0,1,5760.0,53

In [26]:
schede_with_categories.to_csv(data_path, index=False)

<h5>Tf-Idf</h5>

In [27]:
data = pd.read_csv(data_path)

In [28]:
data

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,viewCounter,aria aperta,cultura,food,sport,tempo libero,viaggi,duration_min,days
0,62355f98272ae5672fbc3ac7,632,['spiaggia'],"['paradiso', 'amant', 'sole', 'mare', 'sole', ...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,2.0,0,0,0,0,0,1,0.0,9
1,620abb33ff8ae67f37cafe3c,442,[],"['spiaggia', 'isola', 'spiaggia', 'mare', 'ter...",3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,413.0,0,0,0,0,0,1,60.0,41
2,620aa536ff8ae67f37cafb06,442,['tigr'],"['marcio', 'maltrattamento', 'animal', 'sconsi...",3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,414.0,0,0,0,0,0,1,60.0,41
3,62349ff2272ae5672fbc3135,632,['big'],"['meta', 'turista', 'assalto', 'spiaggia', 'ac...",0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,4.0,0,0,0,0,0,1,0.0,10
4,6234aa65272ae5672fbc34c2,632,"['wat', 'tempio']","['spiaggia', 'pena', 'tempio', 'big', 'tempio'...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,4.0,0,0,0,0,0,1,0.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,"['avventura', 'cascata']","['esperienza', 'step', 'contatto', 'realtà', '...",259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,42.0,0,0,0,0,0,1,4320.0,57
4352,61f668fa306802033034d239,536,['avventura'],"['spalla', 'esperienza', 'lascito', 'vista', '...",57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,35.0,0,0,0,0,0,1,960.0,57
4353,620bbf26b1675d6cc11232f8,431,"['loma', 'polmon']","['mese', 'sole', 'capital', 'nuvola', 'nebbia'...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,37.0,0,0,0,0,0,1,150.0,41
4354,61f3c6add91e9928f6e0922a,431,['lima'],"['angolo', 'turista', 'calor', 'gent', 'bellez...",172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,51.0,0,0,0,0,0,1,2880.0,59
4355,61fae86453a6a72116188980,158,[],"['viaggio', 'dubbio', 'isola', 'galapago', '50...",345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,75.0,0,0,0,0,0,1,5760.0,53

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(lowercase=False)
# description and title are put together
text = data['description'] + data['title']
tfidf_schede = tfidf_vectorizer.fit_transform((text))
tfidf_schede

<4356x17749 sparse matrix of type '<class 'numpy.float64'>'
	with 203045 stored elements in Compressed Sparse Row format>

<h2>Recommender systems</h2>

<h5>Content-based using just tf-idf and similarity on posts that user liked</h5>

In [30]:
#list of user
users = pd.concat([df_likes_ids.userId, data.userId]).drop_duplicates()
#list of posts
posts = data.id
#list of users and posts they liked
users_likes = df_likes_ids.groupby("userId").id.apply(list)
users_likes

userId
114    [61447a3224c29e59fe4c06ab, 61824f5f21889d3548f...
119    [6172da4472b6f336088b932b, 6218ec9f29ef4a75805...
129    [615acf21eb3bf47494b8e64b, 61aa039788b2e606829...
149    [61faf5d953a6a72116188d5b, 61f41fe330680203303...
150    [61b72f34e364b82f2ac8c88c, 61f3c801d91e9928f6e...
                             ...
630    [62215a990a0ebd53f7469748, 62174fea99163528c06...
632                           [6229df13aeb26768dc408e81]
637    [6212993a4f9d177c90f3830f, 6224bdb835684f072b2...
639                           [620a39a4e7ce7d5992612316]
640    [622aeada99fd4c40442f3082, 6217ab40ae6735171d5...
Name: id, Length: 116, dtype: object

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_schede, tfidf_schede)

In [32]:
def get_recommendations(user_id: int):
    # Get the index of the user that we want to recommend posts to
    user_id_idx = df_schede[df_schede == user_id].index[0]
    # Get the pairwise similarity scores of all posts with that user
    sim_scores = list(enumerate(cosine_sim[user_id_idx]))
    # Sort the posts based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores of the 10 most similar posts
    sim_scores = sim_scores[1:11]
    # Get the blog post ids
    post_ids = [i[0] for i in sim_scores]
    # Return the blog posts
    return df_schede.iloc[post_ids]

def print_recommendations(recommended_posts):
    for i in range(len(recommended_posts)):
        print("Post #" + str(i+1) + ":")
        print("Post ID: " + str(recommended_posts.iloc[i].id))
        print("Title: " + str(recommended_posts.iloc[i].title))
        print("Description: " + str(recommended_posts.iloc[i].description))
        print("\n")

In [33]:
id = 632
#print("Posts that user {} liked:".format(id))
liked_posts = df_likes_ids[df_likes_ids["userId"] == id]
#print(liked_posts)
print("Posts:")
for _,p in liked_posts.iterrows():
    post = df_schede[df_schede["id"]== p["id"]]
    if not post.description.empty:
        print(post.title)
        print("-"*100)

Posts:
92    Bemo - immergiti nella vita locale indonesiana
Name: title, dtype: object
----------------------------------------------------------------------------------------------------

In [34]:
recommended_posts = get_recommendations(id)
print_recommendations(recommended_posts)

Post #1:
Post ID: 61f6ce0b306802033034e3e7
Title: Le spiagge più belle della Sardegna
Description: La Sardegna è una regione ricca di spiagge meravigliose e mare dal colore cristallino, cercheremo di aiutarvi a trovare le spiagge più belle e quelle che secondo noi non potete assolutamente perdervi se fate un viaggio in questa regione fantastica!

📌Berchida
Berchida è una delle spiagge più lunghe e spaziosi della Sardegna. La Spiaggia è posizionata poco sopra il Golfo di Orosei ed è quasi tutta di sabbia finissima, inoltre, riesce a sorprenderti per i colori della sua acqua, davvero cristallina. La grandezza della spiaggia gioca a favore anche per la possibilità di avere un po’ di privacy e relax.

📌Spiaggia di S’archittu
Questa spiaggia è situata nella parte ovest della Sardegna poco sopra Oristano. La spiaggia in sé non è molto grande quindi vi consigliamo di arrivare presto per trovare posto. La particolarità è la presenza di un arco, appunto Archittu, formato dalla scogliera che racchiude la spiaggia, dove è anche possibile fare dei tuffi.

📌Capo Coda Cavallo
Una delle spiagge più conosciute in assoluto della Sardegna è senza dubbio: Capo Coda Cavallo. Anche per questa spiaggia vogliamo farvi una premessa, c’è un limite di persone che possono entrare, quindi se volete essere sicuri di potervela godere andateci presto. La spiaggia è abbastanza lunga ma molto stretta quindi diciamo che sarete in buona compagnia! Un consiglio è di visitare anche il suo punto panoramico dove riuscirete a vedere gran parte della costa, e che si raggiunge continuando a salire lungo la strada d’ingresso della spiaggia.

📌Spiaggia di Posada
La spiaggia che più di tutte abbiamo vissuto durante la nostra estate in Sardegna è stata la spiaggia di Posada. Decisamente molto grande e con poca affluenza si rivela la scelta giusta se ci si vuole rilassare senza che nessuno ti disturbi. Sulla spiaggia è presente anche un bar davvero molto comodo e utile.

📌La Cinta San Teodoro
Una spiaggia lunga quasi 5km di sabbia bianca e molto popolata eccoci giunti a San Teodoro, precisamente alla Cinta. Davvero molto bella e attrezzata è una spiaggia che non può mancare durante una visita in questa regione. Vi consigliamo inoltre di fare un giro per il paese davvero molto carino e movimentato soprattutto di sera.

📌La Pelosa Stintino
La Pelosa di Stintino è una delle spiagge-icona della Sardegna. La sabbia è bianca e finissima, l’acqua di un colore cristallino che arriva alle caviglie per decine di metri. Direte voi non c’è nemmeno un punto a sfavore?! Forse giusto uno, la spiaggia è davvero piccola e farete fatica a trovare posto per il vostro ombrellone o telo da mare!



Post #2:
Post ID: 621a0d4e29ef4a75805b9a11
Title: Tropea ❣️
Description: La Calabria , un posto decisamente da scoprire.
Il mare in Calabria è meraviglioso è ancora più belli sono i suoi Borghi, uno di questi è Tropea❣️

🌊 Un borgo arroccato su una rupe tufacea a picco sul mare. Ci sono molto b&b al centro di Tropea o vari residence vicino la spiaggia. Vi consiglio di arrivare con il treno, oppure parcheggiare la macchina in un parcheggio custodito e riprenderla solo al ritorno. Non vi servirà !

🌊Il centro storico di Tropea è piccolino, ha il corso centrale e poi tanti piccoli vicoli tutti da scoprire.

🌊Non vi dovete assolutamente perdere l’affaccio, alias il Belvedere, si trova alla fine del corso di Tropea , è considerato uno degli affacci più belli del mondo.

🌊Per andare in spiaggia vi consiglio di scendere leggeri, senza troppi pesi, perché ci sono parecchie scale da fare. La spiaggia che vi consiglio io è vicino allo stabilimento balneare “le Roccette”, è una spiaggia libera ,a comunque qualsiasi spiaggia è meravigliosa.

🌊Salite sul Santuario di Santa Maria dell'isola, si trova nella peté bassa di Tropea, si paga circa 2€ per salire ma ne vale la pena , andate un oretta prima che tramonti il sole, così da poter visitare il santuario e i suoi giardini e poter fare foto mozzafiato al tramonto, se sarà limpido il cielo potrete avere la fortuna di vedere Stromboli

🌊Gita alle isole Eolie, tappa fondamentale. Dal porto partono varie barche che vi porteranno a fare un tour delle isole, dovrete dedicare un intera giornata a questa esperienza ma credetemi ne vale la pena.

🌊Cibo, tappa fondamentale,avrete una vasta scelta ,Tropea ha tantissimi ristoranti , uno più buono dell’altro.

🌊Passeggiate di sera, e perdetevi tra i vicoli di Tropea , la notte è molto movimentata e avrete la possibilità di scegliere tra tantissimi locali.

🌊Non dovete assolutamente perdervi un giro in pedalò, vi sembrerà banale ma non lo è, potrete così avere la possibilità di ammontare meglio il meraviglioso mare di cui gode Tropea.

Buon viaggio 👋🏻




Post #3:
Post ID: 620abb33ff8ae67f37cafe3c
Title: Freedom beach
Description: Forse la spiaggia più bella di tutta l’isola di phuket! Freedom beach si trova vicino la spiaggia di patong ed è possibile raggiungerla solo via mare perché è abbastanza complicato arrivarci via terra, per la foresta che circonda la spiaggia! Proprio per questo nella spiaggia vicina troverete che fanno servizio taxi, tanti locali che vi porteranno sulla spiaggia in barca e aspetteranno li in barca mentre voi vi godete la giornata di sole e farete il bagno nell’acqua cristallina dell’oceano!


Post #4:
Post ID: 620265bd86f56a61f97d4145
Title: Waimanalo Beach, una delle spiagge più belle
Description: Ho un debole per le spiagge, specialmente quelle di sabbia bianca e sottile e l'acqua azzurra.

La spiaggia di Waimanalo, a sud est dell'isola di Oahu, alle Hawaii, rispecchia perfettamente questa descrizione, facendola entrare tra le mie spiagge preferite di tutti i tempi.

E quando parlo di acqua azzurra intendo in questo caso una tinta così accesa da essere quasi fluorescente. La sabbia è bianca a sottile, in una distesa semi deserta di circa 8.5 chilometri.

Alle sue spalle la spiaggia è protetta da alberi sempreverdi chiamati Ironwood che la riparano dal vento e costituiscono anche un ottimo 'ombrellone' naturale per il sole.

Waimanalo si trova circa a una mezz'ora da Honolulu e si può raggiungere sia in auto che in bus.

Quando ci sono stata io, durante la settimana, c'erano pochissime persone, l'acqua era calma e la temperatura particolarmente calda, cosa che io adoro.

Il fondale non è subito alto quindi la riva è adatta per bagnarsi gradualmente.

La spiaggia è veramente enorme e appena ci si arriva l', impatto è forte perché sembra proprio un paradiso terrestre. È bella anche perché ancora selvaggia, non ci sono bagnini nè ombrelloni e sdraio.

Vi conviene quindi portare da casa l'attrezzatura e soprattutto mangiare e bere. In alternativa, sulla strada principale ci sono un Market e dei truck che preparano qualcosa da mangiare.

Se amate le spiagge tropicali Waimanalo deve essere sicuramente tra le spiagge da visitare alle Hawaii.


Post #5:
Post ID: 61373676f612585fc7b9f838
Title: Un tramonto in spiaggia
Description: Una fuga dalla città è quel che ci vuole per ritrovare l’energia, andando alla scoperta di una località diversa, è cio che serve per ricaricarsi durante le vacanze.
Tempo fa vidi in tv uno dei tanti documentari del grande Alberto Angela sull’antica Roma e una parte di questo era girato sulla spiaggia della villa di Tiberio a Sperlonga: da lì, dalle immagini di quella spiaggia con la grotta e le rovine sopra, è partita l’idea di andare alla scoperta di questa zona che non conoscevo e che ha superato tutte le aspettative.
Mi sono recato lì in una splendida giornata di sole, le ampie spiagge sabbiose ed il mare limpido e fresco, sono cio che mi ha colpito.
Passare la giornata riposandosi in spiaggia e staro ritemprante, ma anche fare una lunga passeggiata lungo la costa mi ha rilassato molto.
La lunga e larga spiaggia sulla quale sono stato era perfetta per la mia passeggiata, inoltre la sabbia fine e pulitissima e stata terapeutica per i miei dolori muscolari.
Lo stabilimento era molto ben tenuto e dotato quasi di tutti comfort necessari, ho potuto finanche ordinare un aperitivo pomeridiano all’ombrellone e godermi il sole che tramontava sul mare.
È stato un momento quasi paradisiaco che non vedo l’ora di riprovare

Panorama
Mare
Tramonto
Relax
Passeggiate
Spiaggia



Post #6:
Post ID: 6207aa12b1d0940f12257b57
Title: 3 spiagge poco conosciute in Calabria
Description: Durante il nostro Coast tuo coast della Calabria, abbiamo avuto la fortuna di scoprire anche alcuni posti non particolarmente conosciuti, nascosti e incredibilmente meravigliosi. Tra borghi, bellezze naturali e ristoranti i nascosti abbiamo trovato anche spiagge mozzafiato dai colori caraibici.

A dirla tutta dobbiamo ringraziare anche tutti i calabresi che ci hanno scritto fornendoci informazioni e consigli preziosissimi su cosa visitare, luoghi che solo i locals possono conoscere .

Spiaggia di Michelino

Non distante dalle spiagge Tropea,  presso Pargelia , la spiaggia di Michelino si caratterizza per sabbia bianchissima e mare verdeacqua che ci ricorda quasi quello della Repubblica Dominicana.
Nascosta dalle vegetazione e dalla bianca scogliere, la spiaggia di Michelino non é assolutamente una spiaggia attrezzata quindi se avete bambini meglio organizzarvi per bene.

Inoltre per raggiungerla dovete percorrere una lunga e ripida discesa di scale che si conclude con un bivio. A questo bivio, tocca voi:  potete scegliere se sistemarvi sulla spiaggia a destra o quella a sinistra. Noi abbiamo scelto la scenografica parte destra, perfetta anche per lo snorkeling.

Spiaggia Paradiso del sub

Situata a Zambrone, il nome ufficiale di questa spiaggia é la Marinella ma tutti la conoscono come Paradiso del Sub. Per raggiungere questa spiaggia, la strada é ancora più ripida e sicuramente più dissestata della spiaggia precedente. Inoltre dovete attraversare la scogliera con prudenza e attenzione e finalmente sarete su questa spiaggia bianca.

Piscine, Ferruzzano

Le chiamano piscine e sapete perché? Per la scogliera che ha creato splendide piscine di acqua cristallina. Siamo sul mar Ionio, il fondale qui è abbastanza differente dal quello del versante opposto ma l’acqua è sempre trasparente e limpida.


Post #7:
Post ID: 61f3cd38306802033034afa4
Title: I ripari di Giobbe
Description: La storia del come sono finito ai ripari di Giobbe, o più nello specifico ad Ortona è lunga, lunga almeno 6 anni. all'Università ho avuto la fortuna di conoscere un ragazzo del luogo che puntualmente ogni anno ci invitava a passare l'estate da lui, ma tra una cosa e l'altra si finiva sempre per rimandare all'anno successivo. Un anno poi c'è stata la svolta e si è partiti. Destinazione Ortona, che all'inizio ignoravo fosse una città di mare.
Onestamente non avevo grandi aspettative, però quello che ho trovato è stata una spiaggia molto particolare:
si raggiunge in auto e poi si scende per una non proprio comodissima "scalinata" per lo più sconnessa che al ritorno poi è anche peggio, nulla di insormontabile ma comunque degna di nota. Una volta però raggiunta la spiaggia il posto è incantevole, il mare è limpido, non c'è sabbia solo ciottoli ma c'è sia una parte attrezzata con ombrelloni e lettini che una parte di spiaggia libera. L'acqua diventa subito profonda al contrario di come normalmente ci ha abituato il Mar Adriatico in altre sue spiagge. Nella zona attrezzata c'è anche un bar per prendere qualcosa da mangiare, non vicinissimo alla zona di spiaggia libera ma sempre meglio che rifare la scalinata. Il posto è veramente bello, certo potrebbe essere attrezzato un po' meglio e costruito un passaggio decente ma comunque resta una spiaggia da visitare. Così bella che alla fine ci siamo tornati per 2 anni di fila.


Post #8:
Post ID: 620d2de325398565dadb6ad2
Title: Il paradiso dei sub
Description: Sembra il paradiso ma si tratta della spiaggia di Zambrone, in Calabria. Una delle spiagge più bella del Tirreno, un mare stupendo e una spiaggia poco affollata e ancora del tutto selvaggia. Raggiungere la spiaggia non è facilissimo, bisogna lasciare la macchina e percorrere un sentiero a piedi per giungere alla spiaggia, ma ne vale davvero la pena! Alla fine degli scalini ci si ritrova di fronte a un vero spettacolo della natura! Viene detta il paradiso dei sub perché è ideale per chi pratica snorkeling: mare cristallino circondato dai colori e i profumi della macchia mediterranea e dominata dallo Scoglio del Leone.


Post #9:
Post ID: 621f3f7e82ed1d1eef3a3e92
Title: Amata da Troisi, la Spiaggia di Pollara
Description: Salina è una piccola isola selvaggia che fa parte dell'arcipelago delle 📍Isole Eolie, tra tutte quella più fertile da un punto di vista geofisico. L'attrazione principale di quest'isola è la 🌊spiaggia di Pollara, famosa per il suo mare cristallino e per le pareti bianche che la circondano.

Si può raggiungere dal mare in 🛥Barca ma anche 🚶🏻via terra attraversando un sentiero. L’intera zona è tenuta molto bene e anche se di per se la spiaggia è piccola consiglio in ogni caso di dare un'occhiata. Vi chiedere forse perchè..

Avete presente il 🎬film ‘Il postino’ con protagonista il grande Massimo Troisi? E’ proprio qui nella Spiaggia di Pollara che nel 1993 furono girate alcune scene del film. Ad affacciarsi su questa baia c’è la casa rossa dove nel film viveva il poeta Pablo Neruda. Oggi vanta un altissima richiesta da parte dei turisti per essere affittata per qualche settimana.

💁🏼‍♀️Vi consiglio vivamente di passare dalla Spiaggia di Pollara, un angolo eoliano di rilievo nella storia del cinema italiano.


Post #10:
Post ID: 621d4eacca66782104a4a099
Title: Ios, Cicladi. Piccola guida pratica
Description: Ios non è affatto un’isola pianeggiante e si estende per 108,7 km² con un’altitudine di 713 m.

➡️Come muoversi
Non esiste una vera e propria strada di costa che vi porti da un punto all’altro dell’isola che dovrete invece letteralmente “attraversare”, percorrendo le montagne che la caratterizzano.

Inoltre alcune strade che portano a spiagge deserte e mozzafiato sono rocciose e sterrate per cui potete:

🚘 Noleggiare un’auto; tenendo presente che dovrete parcheggiare e proseguire poi a piedi (non preoccupatevi perchè troverete sempre aree di parcheggio piuttosto ampie).
🏍 Noleggiare un quod; vi permette di percorrere con facilità ogni tipo di strada e quindi fermarvi il più vicino possibile ad ogni spiaggia.
🛵 Noleggiare uno scooter; in questo caso possiamo dirvi che il costo giornaliero del noleggio scooter è di 20/22 € e la cilindrata massima che troverete disponibile sarà di 125 cc (l’assicurazione è esclusa e il costo si aggira intorno ai 3 euro al giorno)
Dovete essere molto esperti alla guida dello scooter per le strade sterrate dell’isola oppure anche in questo caso parcheggiare e proseguire a piedi.

Inoltre potreste incontrare molto vento sull’isola quindi, prestate molta attenzione in scooter e portate con voi una giacca a vento)

Noi abbiamo noleggiato lo scooter al Porto da Jacobs e con il pagamento in contanti abbiamo speso 20 euro al giorno.

Il costo della Benzina si aggira intorno ad 1,90 € al litro (prezzo riferito ad anno 2021)

🛌 Dove alloggiare


A nostro parere la zona migliore in cui soggiornare a Ios è il porto.
Noi abbiamo alloggiato presso l’Acteon hotel, struttura pulita e silenziosa , 2 stelle, con prezzo ragionevole ( per mese di Luglio 2021 circa 50 euro a notte con prenotazione effettuata su Booking).

Nella zona del Porto di Ios troverete bar e bakery, noleggio moto, quod e auto, supermercati, noleggio barca e fermata del bus.
Inoltre siete a 10 minuti a piedi da Chora, città principale dell’isola.

Altra zone interessanti per soggiornare sono, Mylopotas, zona amata dai giovani e non solo, per la presenza di ristoranti, beach club e spiagge attrezzate, ma anche Gialos, non molto distante dal porto.

🤔Cosa fare a Ios

Ios offre spiagge incredibili e indimenticabili sentieri da percorrere. Quello che sicuramente vi raccomandiamo di non perdere è:

1️⃣Visitare la tomba di Omero

A scuola ti avranno certamente detto che l’esistenza di Omero non è stata affatto confermata, quindi ti starai chiedendo come è possibile che esista una Tomba di Omero.

Quella che trovi a Ios, è in realtà un cenotafio e si trova sull’isola perché, secondo alcune leggende, Omero (semmai fosse esistito) sarebbe morto su quest’isola: per alcuni egli fu ucciso dagli abitanti Ios perchè non seppe rispondere ad un loro quesito, per altri invece avrebbe scelto di morire sull’isola che aveva dato i natali alla madre Climene.

La visita è totalmente gratuita


2️⃣ Scoprire Paleokastro

Si tratta dei resti di un castello bizantino di cui il fascino è dato dal percorso stesso che si affronta per arrivarvi; costeggerete a piedi la montagna su una strada tenuta davvero bene.

Forse ci soffre di vertigini potrebbe avere un po’ paura (soprattutto se la giornata è anche un po’ ventosa).

Il percorso è comunque semplicissimo e regala viste panoramiche davvero uniche.

3️⃣Aperitivo a Mylopotas

Mylopatas è una zona molto in voga ad Ios, frequentata da giovani e famiglie.
Potete prendere sdraio e ombrellone a prezzo contenuto oppure mangiare un gyros per soli 2,70, in uno dei locali fronte spiaggia.

Godervi il tramonto
Cena o pranzo in una taverna greca
Giornata di relax e mare a Magganari
Andare alla ricerca di spiagge deserte e semisconosciute

4️⃣ Godervi il tramonto

Se digitate su Google “tramonto a Ios” probabilmente otterrete tra i primi risultati, alcuni sunset bar recensiti su Tripadvisor.

Noi abbiamo trovato uno spot fotografico fantastico che condividiamo con voi.

Seguite le indicazioni per Ios Club Sunset Dining Bar e proseguite poi per quella strada per pochi metri ( la strada termina su una proprietà privata delimitata da un cancello).

La curva poco più sopra è un punto perfetto.

Altro luogo incantevole per osservare il tramonto è la chiesa di Agia Irini, una meravigliosa chiesa ortodossa completamente bianca che guarda il mare. La si vede appena si entra nelle acque del porto di Ios che accoglie i viaggiatori che arrivano e saluta quelli che partono.

5️⃣ Cena o pranzo in una taverna greca

Le taverne greche, quelle vere, sono la soluzione migliore per mangiare benissimo e spendere poco. Ne abbiamo trovate e provate due a Ios per voi che vi consigliamo vivamente:

The Nest, taverna a Chora, in cui gustare solo ed esclusivamente piatti greci.

Noi abbiamo mangiato:

Pollo al limone con patate e Pollo al sugo di pomodoro con patate e riso (porzioni davvero abbondanti)
Dolce tipico
Acqua naturale
Costo 17.50 €
Koukos, taverna ad Agia Theodothi, con una vista bellissima sulla spiaggia.

In questo caso abbiamo mangiato:

Tradizionale Moussaka
Pasticcio greco
Acqua naturale
Birra da mezzo litro Fix Hellas.
Costo 20.50 €.

6️⃣ Giornata di relax e mare a Magganari

Magganari è una spiaggia davvero grande che si divide infatti tra Nord, Centro e Sud, caratterizzata da sabbia avorio e acqua trasparente con un fondale non troppo alto e bello per lo snorkeling.

Qui troverete aree di parcheggio gratuite, lidi, spiaggia libera, bar e ristoranti.

Noi abbiamo mangiato a pranzo al Venus Bar Restaurant ma il costo per due insalate e una bottiglia d’acqua non è stato affatto economico (circa 35 euro).

7️⃣ Andare alla ricerca di spiagge deserte e semisconosciute

Ecco le spiagge che abbiamo scoperto ad Ios a bordo del nostro scooter e che ti consigliamo:

Manganari: da non confondere con Magganari, è uno spiaggia davvero molto estesa con sabbia e ciottoli dorati e fondale basso.

Paralia Plakes: una cala bellissima, poco ventilata caratterizzata da sabbia dorata e fondale basso ma perfetto per lo snorkeling.
Spesso sarete in compagnia di caprette che brucano alle vostre spalle

Theodothi: una spiaggia davvero kilometrica divisa tra parte sud e parte nord, anch’esssa con sabbia dorata e possibilità di ombrellone e lettini.

Tris Eklisies Beach: spiaggia accessibile solo in barca ma è un vero spettacolo vederla dall’alto.

<h5>Collaborative filtering</h5>