In [1]:
import json
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer
import spacy
import dataset
import analyze

In [6]:
likes_path = "easytour-likes-2022-03MAR-21.json"
schede_path = "easytour-schede-2022-03MAR-21.json"
data_path = "data.csv"
data_analyzed_path = "data_analyzed.csv"

In [7]:
f_schede = open(schede_path)
data_schede = json.load(f_schede)
print("Fields: {}".format(data_schede[0].keys())) 
print("Number of samples: {}".format(len(data_schede)))

Fields: dict_keys(['id', 'userId', 'userName', 'documentType', 'title', 'description', 'locations', 'feature', 'duration', 'imageId', 'previewId', 'distance', 'datePublishing', 'widgets', 'counterUseful', 'tags', 'numberOfPositions', 'creationDate', 'videoId', 'version', 'categories', 'media', 'shareType', 'status', 'lastUpdate', 'versionHistory', 'viewCounter', 'device'])
Number of samples: 4356

In [4]:
#print("First sample: {}".format(data_schede[8]))

In [4]:
f_likes = open(likes_path)
data_likes = json.load(f_likes)
print("Number of samples: {}".format(len(data_likes)))
print("Fields: {}".format(data_likes[0].keys()))
print("First sample: {}".format(data_likes[0]))

Number of samples: 1503
Fields: dict_keys(['id', 'userId', 'userName', 'lastUpdate'])
First sample: {'id': '622c3b8ac992ca28f33c7f21', 'userId': 606, 'userName': 'Dale On Travel', 'lastUpdate': '2022-03-19T07:56:20.868Z'}

In [5]:
df_schede = pd.read_json(schede_path)
df_likes = pd.read_json(likes_path)

<h3>Data Analysis</h3>

In [7]:
df_schede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4356 entries, 0 to 4355
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4356 non-null   object
 1   userId             4356 non-null   int64
 2   userName           4356 non-null   object
 3   documentType       4356 non-null   object
 4   title              4356 non-null   object
 5   description        4355 non-null   object
 6   locations          4356 non-null   object
 7   feature            4356 non-null   object
 8   duration           4355 non-null   float64
 9   imageId            4356 non-null   object
 10  previewId          1763 non-null   object
 11  distance           4356 non-null   float64
 12  datePublishing     4345 non-null   object
 13  widgets            3765 non-null   object
 14  counterUseful      4356 non-null   int64
 15  tags               4356 non-null   object
 16  numberOfPositions  4356 non-null   int64
 17  creationDate       4356 non-null   object
 18  videoId            392 non-null    object
 19  version            4355 non-null   float64
 20  categories         4218 non-null   object
 21  media              4355 non-null   object
 22  shareType          4355 non-null   object
 23  status             4355 non-null   object
 24  lastUpdate         4198 non-null   object
 25  versionHistory     4254 non-null   object
 26  viewCounter        4355 non-null   float64
 27  device             2306 non-null   object
 28  timestamp          1 non-null      datetime64[ns, UTC]
 29  errorCodes         1 non-null      object
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(22)
memory usage: 1021.1+ KB

In [8]:
df_schede.describe()

,userId,duration,distance,counterUseful,numberOfPositions,version,viewCounter
count,4356.000000,4.355000e+03,4356.000000,4356.000000,4356.000000,4355.0000,4355.000000
mean,394.564968,1.646045e+07,1.862263,0.366162,1.184803,5.5031,40.477153
std,147.424098,5.898965e+07,122.909338,0.734108,0.789168,7.8346,30.050625
min,77.000000,0.000000e+00,0.000000,0.000000,1.000000,2.0000,0.000000
25%,236.000000,3.600000e+06,0.000000,0.000000,1.000000,2.0000,32.000000
50%,435.000000,3.600000e+06,0.000000,0.000000,1.000000,4.0000,43.000000
75%,529.000000,1.080000e+07,0.000000,1.000000,1.000000,6.0000,50.000000
max,642.000000,1.296000e+09,8112.016276,8.000000,12.000000,204.0000,694.000000

In [6]:
df_schede_fields = df_schede[["id","userId", "title", "description", "duration", "datePublishing", "creationDate", "counterUseful", "categories", "viewCounter"]]
df_likes_ids = df_likes[["id", "userId"]]

In [7]:
df_schede_fields

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,categories,viewCounter
0,62355f98272ae5672fbc3ac7,632,Spiagge selvagge a Phuket ðŸ‡¹ðŸ‡­,"Phuket, il paradiso per gli amanti del sole, d...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,[Viaggi],2.0
1,620abb33ff8ae67f37cafe3c,442,Freedom beach,Forse la spiaggia piÃ¹ bella di tutta lâ€™isola d...,3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,[Viaggi],413.0
2,620aa536ff8ae67f37cafb06,442,Accarezzare le tigri,So che dietro queste cose câ€™Ã¨ spesso del marci...,3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,[Viaggi],414.0
3,62349ff2272ae5672fbc3135,632,"Big Buddha, Phuket ðŸ‡¹ðŸ‡­",Phuket Ã¨ conosciuta per essere la meta predile...,0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,[Viaggi],4.0
4,6234aa65272ae5672fbc34c2,632,"Wat Chalong, il tempio piÃ¹ venerato di Phuket ðŸ‡¹ðŸ‡­","Phuket non Ã¨ solo spiagge, ci sono anche altri...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,[Viaggi],4.0
...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,Avventura in Ecuador - le cascate di BaÃ±os,Ripartiamo dopo la nostra esperienza in Amazzo...,259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,[Viaggi],42.0
4352,61f668fa306802033034d239,536,Avventura in Ecuador - el VolcÃ¡n Chimborazo,E cosÃ¬ ci lasciamo alle spalle anche la splend...,57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,[Viaggi],35.0
4353,620bbf26b1675d6cc11232f8,431,"Lomas de ParaÃ­so VMT, polmone verde","La chiamano ""ciudad gris"" Lima. Per circa quat...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,[Viaggi],37.0
4354,61f3c6add91e9928f6e0922a,431,Il meglio di Lima,Ãˆ quasi impossibile trovare un angolo del PerÃ¹...,172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,[Viaggi],51.0
4355,61fae86453a6a72116188980,158,"Ecuador, Galapagos",Altro viaggio che non dimenticheremo mai Ã¨ sen...,345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,[Viaggi],75.0

<h3>Preprocessing</h3>

<h5>Null or empty values</h5>

In [8]:
#Check if there are null fields
df_schede_fields.isnull().sum()

id                  0
userId              0
title               0
description         1
duration            1
datePublishing     11
creationDate        0
counterUseful       0
categories        138
viewCounter         1
dtype: int64

In [9]:
def fill_null_fields(df):
    #empty description -> remove or use '' ?
    df["description"].fillna('', inplace=True)
    #if duration is null -> set to 0
    df["duration"].fillna(0, inplace=True)
    #if datePublishing is null -> set it equal to creationDate
    df["datePublishing"].fillna(df_schede_fields.creationDate, inplace=True)
    #if viewCounter is null -> set to 0
    df["viewCounter"].fillna(0, inplace=True)

In [10]:
fill_null_fields(df_schede_fields)

/tmp/ipykernel_72653/1698813668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["description"].fillna('', inplace=True)
/tmp/ipykernel_72653/1698813668.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["duration"].fillna(0, inplace=True)
/tmp/ipykernel_72653/1698813668.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["datePublishing"].fillna(df_schede_fields.creationDate, inplace=True)
/tmp/ipykernel_72653/1698813668.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["viewCounter"].fillna(0, inplace=True)

<h5>Categories into one hot encoding</h5>

In [11]:
def lower_list(l):
    if type(l)!=list:
        return []
    res = [x.lower() for x in l]
    return res

def encoding_categories(df):
  one_hot_enc_categories = df["categories"].apply(lambda x: lower_list(x))
  df["categories_encoding"] = one_hot_enc_categories
  mlb = MultiLabelBinarizer()

  schede_with_categories = df.join(
              pd.DataFrame(
                  mlb.fit_transform(df.pop('categories_encoding')),
                  index=df.index,
                  columns=mlb.classes_))
  return schede_with_categories

In [12]:
df_categories = encoding_categories(df_schede_fields)

/tmp/ipykernel_72653/3170635180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["categories_encoding"] = one_hot_enc_categories

<h5>Text fields</h5>

In [13]:
import string
from bs4 import BeautifulSoup
import nltk
import unidecode
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer

In [17]:
#Downloads for stopwords and punctuation
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('italian')
nltk.download('wordnet')
string.punctuation

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/gianfree/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/gianfree/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [18]:
def remove_html(text: string):
    soup = BeautifulSoup(text, "html.parser")
    cleaned_text = soup.get_text(separator=" ")
    return cleaned_text

In [19]:
def remove_accented_chars(text: string):
    text = unidecode.unidecode(text)
    return text

In [20]:
def remove_stopwords(text: string):
  output= [i for i in text.split() if i not in stopwords]
  return output

In [21]:
#Removing punctuation
def remove_punctuation(text: string):
  list_without_punctuation = []
  for i in text:
    if i not in string.punctuation:
      list_without_punctuation.append(i)
    else:
      list_without_punctuation.append(' ')
  string_without_punctuation = ''.join(list_without_punctuation)
  return string_without_punctuation

In [22]:
#Removing numbers
def remove_numbers(text: string):
  list_without_numbers = []
  for i in text:
    if i not in '0123456789':
      list_without_numbers.append(i)
    else:
      list_without_numbers.append(' ')
  string_without_numbers = ''.join(list_without_numbers)
  return string_without_numbers

In [23]:
wordnet_lemmatizer = WordNetLemmatizer()

def lemmatizer(text: string):
  lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
  return lemm_text

In [24]:
#Stemming
italian_stemmer = SnowballStemmer('italian')

def stemming(text: string):
  stem_text = [italian_stemmer.stem(word) for word in text if not word.isdigit()]
  return stem_text

In [29]:
def preprocessing(text: string, html=1, accent=1, punct=1, numb=1, stop=1, lemma=1, stem=1):
    # if html==1:
    #     text = remove_html(text)
    if accent==1:
        text = remove_accented_chars(text)
    if punct==1:
        text = remove_punctuation(text)
    if numb==1:
        text = remove_numbers(text)
    if stop==1:
        text = remove_stopwords(text)
    if lemma==1:
        text = lemmatizer(text)
    if stem==1:
        text = stemming(text)
    return text

In [14]:
nlp = spacy.load("it_core_news_lg")

def keep_just_nouns(field):
    doc = nlp(field.lower())
    return [token.lemma_ for token in doc if token.pos_=="NOUN"]

def remove_verbs_adj(field):
    doc = nlp(field.lower())
    return [token.lemma_ for token in doc if token.pos_ not in ["VERB", "ADJ", "ADV"]]

In [15]:
def clean_text(df):
    df["title"] = df["title"].apply(lambda x: analyze.demojize(x))
    df["description"] = df["description"].apply(lambda x: analyze.demojize(x))
    # Remove Verbs from description
    schede_description = df.apply(
        lambda row: remove_verbs_adj(row['description']),
        axis=1)

    # Remove hastags, punctuation, stop words and numbers
    schede_description = schede_description.apply(
        lambda row: dataset.clean_text_aslist(row)) 
        
    # Remove Verbs from title
    schede_title = df.apply(
        lambda row: remove_verbs_adj(row['title']),
        axis=1)
        
    # Remove hastags, punctuation, stop words and numbers
    schede_title = schede_title.apply(
        lambda row: dataset.clean_text_aslist(row))
    
    df["description"] = schede_description
    df["title"] = schede_title

In [16]:
clean_text(df_categories)

<h5>Dates</h5>

In [17]:
def preprocess_dates(df):
    # Convert duration from ms to minutes
    df['duration_min'] = df.apply(lambda row: row["duration"] / 60000, axis=1)

    # Compute age of entry in days from today
    df['days'] = 0
    df.days = (pd.to_datetime("now").tz_localize('UTC') - pd.to_datetime(
        df["creationDate"])) // np.timedelta64(1, 'D')

In [18]:
preprocess_dates(df_categories)

/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

In [19]:
df_categories

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,categories,viewCounter,aria aperta,cultura,food,sport,tempo libero,viaggi,duration_min,days
0,62355f98272ae5672fbc3ac7,632,"[spiaggia, phuket, thailand]","[phuket, paradiso, amant, sole, mare, sole, co...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,[Viaggi],2.0,0,0,0,0,0,1,0.0,14
1,620abb33ff8ae67f37cafe3c,442,[beach],"[spiaggia, isola, phuket, freedom, beach, spia...",3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,[Viaggi],413.0,0,0,0,0,0,1,60.0,46
2,620aa536ff8ae67f37cafb06,442,[tigr],"[marcio, maltrattamento, animal, andar, thaila...",3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,[Viaggi],414.0,0,0,0,0,0,1,60.0,46
3,62349ff2272ae5672fbc3135,632,"[big, buddha, phuket, thailand]","[phuket, meta, turista, assalto, spiaggia, acq...",0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,[Viaggi],4.0,0,0,0,0,0,1,0.0,15
4,6234aa65272ae5672fbc34c2,632,"[wat, tempio, phuket, thailand]","[phuket, spiaggia, pena, tempio, big, buddha, ...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,[Viaggi],4.0,0,0,0,0,0,1,0.0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,"[avventura, ecuador, cascata, baÃ±o]","[esperienza, step, contatto, realtÃ , genitor, ...",259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,[Viaggi],42.0,0,0,0,0,0,1,4320.0,62
4352,61f668fa306802033034d239,536,"[avventura, ecuador, el, volcÃ¡n, chimborazo]","[spalla, esperienza, bano, lascito, vista, cat...",57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,[Viaggi],35.0,0,0,0,0,0,1,960.0,62
4353,620bbf26b1675d6cc11232f8,431,"[loma, de, paraÃ­so, vmt, polmon]","[ciudad, gri, limar, mese, sole, capital, nuvo...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,[Viaggi],37.0,0,0,0,0,0,1,150.0,46
4354,61f3c6add91e9928f6e0922a,431,[lima],"[angolo, perÃ¹, turista, calor, gent, bellezza,...",172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,[Viaggi],51.0,0,0,0,0,0,1,2880.0,64
4355,61fae86453a6a72116188980,158,"[ecuador, galapago]","[viaggio, dubbio, isola, \n, galapago, 50ina, ...",345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,[Viaggi],75.0,0,0,0,0,0,1,5760.0,58

In [ ]:
df_categories.to_csv(data_path, index=False)

<h5>Tf-Idf</h5>

In [ ]:
data = pd.read_csv(data_path)

In [ ]:
data

,id,userId,title,description,duration,datePublishing,creationDate,counterUseful,viewCounter,aria aperta,cultura,food,sport,tempo libero,viaggi,duration_min,days
0,62355f98272ae5672fbc3ac7,632,"['spiaggia', 'phuket', 'thailand']","['phuket', 'paradiso', 'amant', 'sole', 'mare'...",0.0,2022-03-19T04:44:09.503Z,2022-03-19T04:44:08.000+00:00,0,2.0,0,0,0,0,0,1,0.0,13
1,620abb33ff8ae67f37cafe3c,442,['beach'],"['spiaggia', 'isola', 'phuket', 'freedom', 'be...",3600000.0,2022-02-14T20:27:32.224Z,2022-02-14T20:27:31.000+00:00,0,413.0,0,0,0,0,0,1,60.0,45
2,620aa536ff8ae67f37cafb06,442,['tigr'],"['marcio', 'maltrattamento', 'animal', 'andar'...",3600000.0,2022-02-14T20:05:09.586Z,2022-02-14T18:53:42.000+00:00,0,414.0,0,0,0,0,0,1,60.0,45
3,62349ff2272ae5672fbc3135,632,"['big', 'buddha', 'phuket', 'thailand']","['phuket', 'meta', 'turista', 'assalto', 'spia...",0.0,2022-03-19T04:48:49.248Z,2022-03-18T15:06:26.000+00:00,0,4.0,0,0,0,0,0,1,0.0,13
4,6234aa65272ae5672fbc34c2,632,"['wat', 'tempio', 'phuket', 'thailand']","['phuket', 'spiaggia', 'pena', 'tempio', 'big'...",0.0,2022-03-19T04:04:27.356Z,2022-03-18T15:51:01.000+00:00,0,4.0,0,0,0,0,0,1,0.0,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,61f57f62306802033034ceed,536,"['avventura', 'ecuador', 'cascata', 'baÃ±o']","['esperienza', 'step', 'contatto', 'realtÃ ', '...",259200000.0,2022-01-29T17:54:42.761Z,2022-01-29T17:54:42.000+00:00,0,42.0,0,0,0,0,0,1,4320.0,61
4352,61f668fa306802033034d239,536,"['avventura', 'ecuador', 'el', 'volcÃ¡n', 'chim...","['spalla', 'esperienza', 'bano', 'lascito', 'v...",57600000.0,2022-01-30T10:31:22.977Z,2022-01-30T10:31:22.000+00:00,0,35.0,0,0,0,0,0,1,960.0,60
4353,620bbf26b1675d6cc11232f8,431,"['loma', 'de', 'paraÃ­so', 'vmt', 'polmon']","['ciudad', 'gri', 'limar', 'mese', 'sole', 'ca...",9000000.0,2022-02-15T14:56:39.554Z,2022-02-15T14:56:38.000+00:00,1,37.0,0,0,0,0,0,1,150.0,44
4354,61f3c6add91e9928f6e0922a,431,['lima'],"['angolo', 'perÃ¹', 'turista', 'calor', 'gent',...",172800000.0,2022-02-01T16:57:01.557Z,2022-01-28T10:34:21.000+00:00,1,51.0,0,0,0,0,0,1,2880.0,62
4355,61fae86453a6a72116188980,158,"['ecuador', 'galapago']","['viaggio', 'dubbio', 'isola', '\\n', 'galapag...",345600000.0,2022-02-07T19:19:09.439Z,2022-02-02T20:24:04.000+00:00,3,75.0,0,0,0,0,0,1,5760.0,57

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(lowercase=False)
# description and title are put together
text = data['description'] + data['title']
tfidf_schede = tfidf_vectorizer.fit_transform((text))
tfidf_schede

<4356x23958 sparse matrix of type '<class 'numpy.float64'>'
	with 242265 stored elements in Compressed Sparse Row format>

In [ ]:
tfidf_vectorizer.get_feature_names_out()[:1000]

array(['00', '000', '000mq', '01', '011', '02', '027', '03', '036', '040',
       '050', '054', '06', '060', '07', '070536', '072855', '079086',
       '08', '09', '10', '100', '1000', '100gr', '100k', '100metri',
       '102Âº', '103rd', '105714', '108', '10848102', '10euro', '10k',
       '10mila', '11', '1123mt', '113', '12', '120', '120gr', '1277e',
       '1285', '129', '1293', '12e', '12mesi', '13', '130', '1300',
       '130cv', '131107', '133508', '135', '13b', '14', '1400mt', '140Âº',
       '15', '150', '1500', '1516', '1522', '1560', '15a', '15ina',
       '15min', '16', '160', '1605', '1620', '1630', '1639', '1656',
       '166', '167', '17', '170', '1700mt', '173', '1730metri', '1737',
       '1740', '175', '1787', '18', '180', '180gr', '180grammi', '182',
       '1826', '183', '1851esser', '187377', '18th', '19', '190',
       '191333', '191652', '194mt', '1961', '1972', '1a', '1h', '1h30',
       '1ora', '1st_place_medal', '20', '200', '2000mq', '2007', '2008',
       '200mq', '200mt', '2018', '2019', '2020', '2022', '20936299271921',
       '20ina', '20Âºc', '21', '22', '2227mt', '225', '22mila', '23',
       '232', '2333mt', '23a', '24', '241692', '245', '24h', '24mila',
       '25', '250', '26', '2647mt', '2650', '2690mt', '27', '270', '2750',
       '28', '2869mt', '28e', '29', '290', '292', '2932509', '2a', '2h',
       '2h00', '2h30', '2h45', '2mila', '2nd_place_medal', '30', '300',
       '300mq', '309432', '312', '315', '32', '320', '324', '329',
       '329344', '33', '331', '332', '335', '335mt', '34', '341',
       '345965', '35', '357', '357579', '360', '360Âº', '360Âºc', '36h',
       '37', '370', '38', '386', '39', '392177', '3bee', '3d', '3h',
       '3h00', '3h30', '3marzo', '3metri', '3vs3', '3Â½', '40', '400',
       '400mila', '405', '40cv', '40mt', '41', '42', '42nd', '43', '434',
       '44', '440', '45', '450059', '46', '460metri', '462', '465', '466',
       '47', '477', '48', '488184', '489727', '489734', '48h', '49',
       '4bi', '4h', '4h00', '4h30', '4x4', '50', '500', '5000mq',
       '50cent', '50cl', '50ina', '50kalÃ²', '50mila', '50top', '50x25',
       '51', '52', '521', '534', '540', '542', '55', '552062', '57', '58',
       '588498083696038', '59', '594825', '5euro', '5h', '5h00', '5h30',
       '5k', '5metri', '5mtvezzjcehmcduza', '5pm', '5th', '60', '600',
       '604', '6041474', '604288', '6043952', '61', '620246', '634', '64',
       '657', '66', '67', '679647', '680553', '684458', '6880984',
       '6898487', '6h', '6h00', '6h30', '70', '700', '7000m2', '700mila',
       '708', '70l', '717908', '72', '720', '726339', '727003', '75',
       '750', '7euro', '7h00', '7up', '80', '800', '800gr', '800mila',
       '808', '81', '82', '83', '85', '850', '857', '85metri', '88',
       '897', '899839', '89a', '90', '900', '901', '901217', '90euro',
       '91', '914342', '914443', '92', '924497', '926mt', '93', '942144',
       '946088', '948', '95', '95021', '960085', '964', '970', '973',
       '99', '999', '999contemporari', '999coontemporari', '_button',
       'a1', 'a11', 'a2', 'a24', 'a4', 'a_button_', 'aalvar', 'aama',
       'aan', 'ab', 'abajo', 'abasto', 'abat', 'abazi', 'abazia', 'abba',
       'abbacchio', 'abbadia', 'abbandono', 'abbat', 'abbateggio',
       'abbattimento', 'abbattitor', 'abbazia', 'abbellimento',
       'abbeveraggio', 'abbeveratoio', 'abbey', 'abbiam', 'abbiamo',
       'abbiaumo', 'abbigliamento', 'abbinamento', 'abbiocco',
       'abbonamento', 'abbondanza', 'abbraccia', 'abbraccio',
       'abbronzatura', 'abbuffata', 'abc', 'abdicazion', 'aberdeen',
       'abet', 'abetina', 'abeton', 'abierta', 'abilitÃ ', 'abilitÃ¡',
       'abisso', 'abitacolo', 'abitant', 'abitat', 'abitato', 'abitator',
       'abitazion', 'abito', 'abitudin', 'abitÃ²', 'ablazion',
       'abnegazion', 'abomaso', 'aborigeno', 'abov', 'abquello',
       'abracadabra', 'abraham', 'abramoviÄ‡', 'abrigo', 'abrizzo',
       'abruzzesitÃ ', 'abruzzi', 'abruzzo', 'absid', 'absidi', 'abu',
       'abuela', 'abuso', 'ac', 'acacia', 'academi', 'acai', 'acaja',
       'accademia', 'accademico', 'accadimento', 'accaduto',
       'accampamento', 'accanto', 'accappato', 'accappatoio',
       'accartocci', 'accelerazion', 'accendino', 'accenno', 'accension',
       'accento', 'accentur', 'accessibil', 'accessibilitÃ ', 'accession',
       'accesso', 'accessoriati', 'accessorio', 'accettata', 'accezion',
       'acchiappare', 'acchiappasogni', 'acchito', 'acciacco',
       'acciaieria', 'acciaio', 'acciaroli', 'acciottolato', 'acciuga',
       'acclimatamento', 'acclimatarmi', 'accoccolarti', 'accoglienz',
       'accoglienza', 'accomodar', 'accompagn', 'accompagnamento',
       'accompagnarl', 'accompagnator', 'accompagno', 'acconciatura',
       'accontentarli', 'accontervi', 'accoppiata', 'accordo', 'accorger',
       'accorgermi', 'accorgimento', 'accorpamento', 'accortezza',
       'accostamento', 'account', 'accozzaglia', 'accredito',
       'accumulazion', 'accumulo', 'accuratezza', 'accursio', 'ace',
       'aceri', 'acero', 'acetari', 'aceti', 'aceto', 'acetosella', 'ach',
       'achei', 'acheropita', 'achil', 'achura', 'aci', 'aciditÃ ',
       'acido', 'acitrezza', 'aco', 'acomo', 'acqedotto', 'acqua',
       'acquacoltura', 'acquafraggia', 'acquafrescaio', 'acquagym',
       'acquaiolo', 'acquarella', 'acquarello', 'acquario',
       'acquariofilia', 'acquarium', 'acquarosa', 'acquartieramento',
       'acquasal', 'acquascivoli', 'acquasparta', 'acquatici',
       'acquatrek', 'acquaviva', 'acquazzon', 'acque', 'acquedotto',
       'acquerello', 'acqui', 'acquirent', 'acquisito', 'acquisizion',
       'acquisto', 'acquitrino', 'acquolina', 'acri', 'acrobata',
       'acrobatica', 'acrobazia', 'acrofobia', 'acronimo', 'acropoli',
       'acteon', 'action', 'aculei', 'acustica', 'acuto', 'ada',
       'adalberto', 'adali', 'adamello', 'adamo', 'adattabilitÃ ',
       'adattamento', 'adatto', 'adda', 'addentati', 'addestramento',
       'addestrator', 'addett', 'addetto', 'addict', 'addio', 'additivo',
       'addizion', 'addobbo', 'addom', 'addormenterÃ²', 'addozio',
       'adduttor', 'adeguamento', 'adelasia', 'aderenza', 'adesion',
       'adesivo', 'adhara', 'adiacent', 'adiacenza', 'adig', 'adige',
       'aditya', 'admission_ticket', 'adob', 'adolescent', 'adolescenza',
       'adolf', 'adon', 'adoni', 'adorato', 'adorazion', 'adornamenti',
       'adozion', 'adozione', 'adrenalina', 'adrenalinica', 'adria',
       'adrian', 'adriana', 'adriano', 'adriatico', 'adua', 'aduana',
       'adulto', 'adunata', 'adventur', 'aemiliu', 'aer', 'aera', 'aerea',
       'aereo', 'aereoporto', 'aerial', 'aerial_tramway', 'aero',
       'aerobica', 'aeroclub', 'aeroclubmondovi', 'aerografo', 'aeroline',
       'aeronauta', 'aeronautica', 'aeroplano', 'aeroporto', 'aerosilla',
       'aerostato', 'aevi', 'aevo', 'afa', 'afecto', 'affacci',
       'affacciatevi', 'affaccio', 'affamati', 'affanno', 'affar',
       'affascinati', 'affaticamento', 'affermazion', 'affettati',
       'affettato', 'affetto', 'affezionarci', 'affezionata', 'affianco',
       'affiatamento', 'affil', 'affilatura', 'affin', 'affinchÃ¨',
       'affinchÃ©', 'affinitÃ ', 'affioramento', 'affioranti',
       'affittatonla', 'affitto', 'affluent', 'affluenza', 'affluir',
       'afflusso', 'affollamento', 'affollata', 'affollatissimo',
       'affondo', 'afford', 'affrancamento', 'affrescati', 'affresco',
       'affrescÃ²', 'affrico', 'affum', 'affumicata', 'affumicato',
       'affumicator', 'affumicatur', 'affumicatura', 'afghanistan',
       'afllusso', 'afonso', 'afragola', 'africano', 'africo', 'afrodit',
       'after', 'ag', 'agamennon', 'agata', 'agav', 'agaveria', 'agavi',
       'agbar', 'agenda', 'agent', 'agenzia', 'agerola', 'agevolazion',
       'agganciamento', 'aggancio', 'aggeggino', 'aggeggio', 'aggettivo',
       'aggiornamento', 'aggiungiamo', 'aggiunta', 'agglomerato',
       'aggravant', 'aggregazion', 'aggression', 'aggressivitÃ ', 'agha',
       'agia', 'agil', 'agilitÃ ', 'agio', 'agiofarago', 'agitato',
       'agitazion', 'aglianico', 'aglio', 'aglion', 'agnellino',
       'agnello', 'agnellocon', 'agnes', 'agnolotti', 'ago', 'agon',
       'agonia', 'agonismo', 'agorÃ ', 'agostino', 'agosto', 'agra',
       'agresti', 'agricoltor', 'agricoltura', 'agrifogli', 'agrifoglio',
       'agrigentino', 'agrigento', 'agrippa', 'agrippina', 'agrippino',
       'agriturismo', 'agro', 'agrodolc', 'agronatura', 'agronomo',
       'agronomÃ­a', 'agropoli', 'agropontino', 'agrum', 'agrumeto',
       'agua', 'aguillara', 'ah', 'ahahah', 'ahahahah', 'ahahahahahah',
       'ahh', 'ahorn', 'aia', 'aid', 'aida', 'aielli', 'aiguil', 'aim',
       'aimÃ¨', 'aino', 'air', 'airb', 'airbnb', 'airboat', 'airon',
       'airplan', 'airplane', 'airplane_arriv', 'airplane_departur',
       'ait', 'aiuola', 'aiutami', 'aiutino', 'aiuto', 'ajax', 'ajc',
       'ajo', 'ajuy', 'aka', 'akbar', 'akhara', 'akira', 'akropoli',
       'akum', 'al', 'ala', 'alabardieri', 'alabastro', 'alacoqu',
       'aladin', 'alagna', 'alagno', 'alambicco', 'alarico',
       'alarm_clock', 'alastor', 'alatri', 'alba', 'albaicÃ­n',
       'albalonga', 'albani', 'albania', 'albano', 'albavilla', 'albego',
       'alben', 'alber', 'alberato', 'alberatura', 'alberello', 'albergo',
       'alberico', 'albero', 'alberobello', 'alberon', 'albert',
       'alberti', 'albertina', 'alberto', 'alberton', 'albi', 'albicocca',
       'albo', 'albondiga', 'alborh', 'albornoz', 'albu', 'albufeira',
       'album', 'alburni', 'alc', 'alcald', 'alcalÃ¡', 'alcantara',
       'alcantarini', 'alcatraz', 'alcazaba', 'alcazar', 'alceo',
       'alchemico', 'alcherm', 'alchimia', 'alchimiee', 'alchimista',
       'alcid', 'alcol', 'alcolici', 'alcolico', 'alcool', 'alcoolico',
       'alcova', 'alcun', 'alcunei', 'alcÃ¡zar', 'alcÃ¢ntara', 'alda',
       'aldifuori', 'aldilÃ ', 'aldina', 'aldo', 'aldobrandeschi',
       'aldobrandini', 'ale', 'alejandrÃ­a', 'aleksandr', 'alemanni',
       'alemanno', 'alentejana', 'alentejo', 'alert', 'alessandra',
       'alessandria', 'alessandro', 'alessio', 'aletsch', 'aletta',
       'alex', 'alexand', 'alexanderplatz', 'alexandr', 'alexandra',
       'alexanya', 'alf', 'alfa', 'alfabeto', 'alfama', 'alfedena',
       'alfeo', 'alfier', 'alfina', 'alfio', 'alfonso', 'alfr', 'alfredo',
       'alga', 'algar', 'algardi', 'algarv', 'algeri', 'algeria',
       'alghero', 'algi', 'alhambra', 'alia', 'aliant', 'alic', 'alicant',
       'alici', 'alicudi', 'alien', 'alieno', 'alighieri', 'alimathÃ ',
       'alimena', 'alimentari', 'alimentazion', 'alimento', 'aliscafo',
       'all', 'alla', 'allagamento', 'allah', 'allarm', 'allarmismo',
       'allattamento', 'alleato', 'allegato', 'alleggerimento',
       'allegoria', 'allegria', 'allegro', 'allen', 'allenamento',
       'allenator', 'allend', 'alleniamoci', 'allentamento', 'allergia',
       'allerta', 'allestimento', 'allestito', 'allestitor',
       'allevamento', 'allevator', 'allianz', 'allievo', 'alligator',
       'allineamento', 'alll', 'allmingresso', 'allocco', 'allodola',
       'alloggia', 'alloggiar', 'alloggio', 'allontanamento',
       'allontanandosen', 'allontanandovi', 'alloro', 'allucinazion',
       'allucinogeno', 'allum', 'alluminio', 'allungamento', 'allur',
       'alluvion', 'alma', 'almagro', 'almay', 'almedina', 'almer',
       'almo', 'almodovar', 'almoina', 'almon', 'almond', 'almudena',
       'almyro', 'alo', 'aloisa', 'alon', 'alp', 'alpaca', 'alpeggio',
       'alpi', 'alpidicuneo', 'alpinismo', 'alpinista', 'alpino',
       'alpinum', 'alpitour', 'alserio'], dtype=object)

<h3>Preprocess using functions in support</h3>

In [3]:
#analyze.analyze_dataset(schede_path, data_analyzed_path, [])

CPU cores available:  8
Loading geoname datasets found 0 entries 0.0193 sec
Reading Dataset/easytour-schede-2022-03MAR-21.json found 4356 entries 1.2456 sec
Preprosessing dataset

/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(
/home/gianfree/.local/lib/python3.8/site-packages/pandas/core/arrays/datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

 108.8857 sec
Deleting records with short description (less than 50), total:  22
Extract Bi-grams and Tri-grams 11.2756 sec
Replacing bi-grams and tri-grams 5.7206 sec
Extracting categories used 0.9739 sec
Extracting hashtags used 2.6727 sec
Extracting writing style